
<div>
  {% for asset in page.assets -%}
    {%- if asset is matching("[.](jpg|png)$") -%}
      {% set image = resize_image(path=asset, width=280, height=210) %}
      <a href="{{ get_url(path=asset) }}" target="_blank">
        <img src="{{ image.url }}" alt="thumbnail">
      </a>
    {%- endif %}
  {%- endfor %}
  </div>